body{
    font-family: Arial, sans-serif;
    background-color: seagreen;
    color: whitesmoke;
    margin:0;
    padding: 0;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
nav{
    position: sticky;
    top: 0;
    background-color: chocolate;
    padding:20px 0;
}
nav h1{
    margin:0;
    display: inline;
}
nav ul{
    list-style-type: none;
    margin: 10;
    padding: 10;
    float: right;
}
nav ul li{
    display:inline;
    margin-left: 20px;
}
nav ul li a{
    color: bisque;
    text-decoration: none;
    transition: 1.5s;

}
nav ul li a:hover{
    padding: 5px;
    background-color:palevioletred;
    color:black;
}
.profile{
    display: flex;
    align-items: center;
}
.profile-pic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid black;
    margin-right: 20px;
}
main{
    padding: 20px 0;
}
section{
    margin-bottom: 40px;
}
section h2{
    color: black;
}
header{
    background-color: cadetblue;
    padding: 20px 0;
}
#contact{
    background-color: skyblue;
    padding: 20px;
    text-align: center;

}
.contact-head{
    margin-bottom: 20px;
}
.contact-info{
    color: brown;
}
.contact-info p{
    margin-bottom: 0;

}
.contact-info ul{
    list-style-type: none;
    padding: 0;
}
.contact-info ul li{
    display: inline;
    margin: 0 10px;
}
.snap{
    width: 75px;
    height: 75px;
    border-radius: 25%;
}
.snap:hover{
    opacity: 0.9s;
    cursor: pointer;
}
.insta{
    width: 75px;
    height: 75px;
    border-radius: 25%;
}
.insta:hover{
    opacity: 0.9s;
    cursor: pointer;
}



